<h1>Admin#index</h1>

<%= link_to "Export to CSV", :logout%>

<table>
  <tr>
  	<th>Dept</th>
	<th>Fund</th>
	<th>program</th>
	<th>priority</th>
	<th>prog_status</th>
	<th>purpose</th>
	<th>desc</th>
	<th>link</th>
    <th>code</th>
    <th>dtails</th>
	<th>Amount</th>

  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.program.dept %></td>

    <td><%= item.obj_code %></td>
    <td><%= item.details %></td>
	<td><%= item.amount %></td>
  </tr>
<% end %>
</table>
